.home-container1 {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-image: linear-gradient(90deg, rgb(241, 241, 241) 0.00%,rgb(211, 208, 227) 85.00%,rgb(224, 224, 224) 100.00%);
  }
  .home-header {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: flex-end;
  }
  .home-image {
    width: 200px;
    margin-top: var(--dl-space-space-unit);
    object-fit: cover;
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-navbar-interactive {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  .home-links1 {
    flex: 1;
    width: 674px;
    display: flex;
    align-items: center;
    margin-left: var(--dl-space-space-threeunits);
    flex-direction: row;
    justify-content: flex-start;
  }
  .home-text10 {
    font-family: "Mont-Regular";
  }
  .home-text11 {
    font-family: "Mont-Regular";
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-text12 {
    font-family: "Mont-Regular";
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-buttons1 {
    display: flex;
    align-items: center;
    border-color: #d9d9d9;
    border-width: 0.5px;
    border-radius: var(--dl-radius-radius-imageradius);
    flex-direction: row;
    justify-content: space-between;
  }
  .home-register1 {
    border-color: #ffffff;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-imageradius);
    background-color: transparent;
  }
  .home-burger-menu {
    display: none;
  }
  .home-icon10 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }
  .home-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .home-logo {
    height: 2rem;
  }
  .home-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon12 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-links2 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-text18 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text19 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text20 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text21 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text22 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-buttons2 {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-login {
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon14 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon16 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon18 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-startup-header {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .home-startup-logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: var(--dl-space-space-sixunits);
    border-color: #ffffff;
    border-width: 4px;
    border-radius: var(--dl-radius-radius-round);
  }
  .home-text23 {
    color: #252525;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    font-family: "Mont-ExtraLightDEMO";
    font-weight: 100;
    letter-spacing: 1.34px;
  }
  .home-text24 {
    color: #252525;
    display: inline-block;
    font-size: 24px;
    font-style: normal;
    margin-top: var(--dl-space-space-halfunit);
    font-family: "Mont-Regular";
    font-weight: 500;
    letter-spacing: 1.34px;
  }
  .home-text25 {
    color: #252525;
    display: inline-block;
    font-size: 21px;
    font-style: normal;
    margin-top: 2px;
    font-family: "Mont-SemiBold";
    font-weight: 700;
    letter-spacing: 1.34px;
  }
  .home-text26 {
    color: #252525;
    display: inline-block;
    font-size: 10px;
    font-style: normal;
    font-family: "Mont-Regular";
    font-weight: 100;
    margin-left: var(--dl-space-space-halfunit);
    letter-spacing: 1.34px;
  }
  .home-text27 {
    color: #252525;
    display: inline-block;
    font-size: 10px;
    font-style: normal;
    font-family: "Mont-Regular";
    font-weight: 100;
    letter-spacing: 1.34px;
  }
  .home-main-body {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home-column1 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-text28 {
    color: rgb(37, 37, 37);
    display: inline-block;
    font-size: 14px;
    align-self: flex-start;
    font-style: normal;
    margin-top: 24px;
    font-family: "Mont-Regular";
    font-weight: 500;
    letter-spacing: 1.34px;
  }
  .home-text29 {
    color: rgb(138, 138, 138);
    display: inline-block;
    font-size: 10px;
    align-self: flex-end;
    font-style: normal;
    margin-top: var(--dl-space-space-oneandhalfunits);
    font-family: "Mont-Regular";
    font-weight: 500;
    letter-spacing: 1.34px;
  }
  .home-text30 {
    color: #ffffff;
    display: inline-block;
    font-size: 10px;
    font-family: "Mont-Regular";
  }
  .home-text31 {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 18px;
    margin-top: 4px;
    font-family: "Mont-Bold";
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-text32 {
    color: #252525;
    display: inline-block;
    font-size: 10px;
    font-family: "Mont-Regular";
  }
  .home-text33 {
    color: #252525;
    display: inline-block;
    font-size: 18px;
    margin-top: 4px;
    font-family: "Mont-Bold";
  }
  .home-text34 {
    color: rgb(37, 37, 37);
    display: inline-block;
    font-size: 10px;
    text-align: right;
    font-family: "Mont-Regular";
  }
  .home-container2 {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    align-items: flex-start;
    margin-left: var(--dl-space-space-sixunits);
    flex-direction: column;
  }
  .home-column2 {
    width: auto;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-left: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-container3 {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-first-tranche {
    color: rgb(37, 37, 37);
    font-size: 18px;
    font-family: "Mont-Regular";
  }
  .home-text35 {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 14px;
    font-family: "Mont-Regular";
  }
  .home-text36 {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 11px;
    font-family: "Mont-Regular";
    line-height: 1.4;
  }
  .home-grievance-title {
    color: rgb(37, 37, 37);
    font-size: 18px;
    margin-top: var(--dl-space-space-twounits);
    font-family: "Mont-Regular";
  }
  .home-text37 {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 14px;
    font-family: "Mont-Regular";
  }
  .home-text38 {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 11px;
    font-family: "Mont-Regular";
    line-height: 1.4;
  }
  .home-column3 {
    width: auto;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-left: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .home-vertical-column {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-second-tranche-title {
    color: rgb(37, 37, 37);
    font-size: 18px;
    font-family: "Mont-Regular";
  }
  .home-text39 {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 14px;
    font-family: "Mont-Regular";
  }
  .home-text40 {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 11px;
    font-family: "Mont-Regular";
    line-height: 1.4;
  }
  .home-third-tranche-title {
    color: rgb(37, 37, 37);
    font-size: 18px;
    margin-top: var(--dl-space-space-twounits);
    font-family: "Mont-Regular";
  }
  .home-text41 {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 14px;
    font-family: "Mont-Regular";
  }
  .home-text42 {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 11px;
    font-family: "Mont-Regular";
    line-height: 1.4;
  }
  .home-container22 {
    width: auto;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-left: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .home-container23 {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-text41 {
    color: rgb(37, 37, 37);
    font-size: 18px;
    font-family: "Mont-Regular";
  }
  .home-text42 {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 14px;
    font-family: "Mont-Regular";
  }
  .home-text43 {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 11px;
    font-family: "Mont-Regular";
    line-height: 1.4;
  }
  .home-text44 {
    color: rgb(37, 37, 37);
    font-size: 18px;
    margin-top: var(--dl-space-space-twounits);
    font-family: "Mont-Regular";
  }
  .home-column4 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-left: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  @media(max-width: 767px) {
    .home-navbar-interactive {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-desktop-menu {
      display: none;
    }
    .home-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .home-text18 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-text19 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-text20 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-text21 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-text22 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
  }
  
  